* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #FFFFFF;
	color: #222;
	font-family: "Playfair Display", serif;
	font-size: 18px;
	padding: 20px;
}

header {
	text-align:center;
	margin-top: 2em;
	margin-bottom: 3em;
}

header h1 {
	font-family: 'Cinzel', serif;
	font-size: 50px;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #222;
}

nav {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	text-transform: uppercase;
	margin-top: 2em;
	margin-bottom: 1em;
	border-top:1px solid;
	border-bottom: 1px solid;
	line-height: 2em;
}
nav a {
	text-decoration: none;
	color: #5A8B8B;
	padding: 1px 2em;
	font-size: 1em;
	font-weight: 700;
}

.full {
	display: block;
	text-align: center;
	padding: 10px 10px 5px 10px;
	margin: 0 1% 2.5% 1%;
	background: #fff;
	border: 1px solid #ddd;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
}

.full img {
	max-width: 100%;
	height: auto;
	margin: 0;
	}

.socialize {
	list-style-type: none;
}
.socialize li {
	display: inline;
}
.socialize li a {
	text-decoration: none;
	padding: 0px 5px;
}


ul, li {
	text-align:center;
	padding: 10px;
}

ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%;
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

ul.rig li h3 {
	margin: 0 0 5px;
}

ul.rig li p {
	font-family:'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: .9em;
	line-height: 1.5em;
	color: #5A8B8B;
}

ul.rig.columns-3 li {
	width: 30.83%; 
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; 
		margin: 0 0 20px;
	}

footer {
	color: #222;
}
