* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #FFFFFF;
	color: #222;
	font-family: "Playfair Display", serif;
	font-size: 18px;
}

header {
	text-align:center;
	margin-top: 1em;
	margin-bottom: 2em;
}

nav {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	text-transform: uppercase;
	margin-top: 2em;
	margin-bottom: 1em;
	border-top:1px solid;
	border-bottom: 1px solid;
	line-height: 2em;
}
nav a {
	text-decoration: none;
	color: #E4287C;
	padding: 1px 2em;
	font-size: .85em;
	font-weight: 700;
}

.body-wrapper-shopall {
	max-width: 1250px;
	margin: 0 auto;
}

.product-cat {
	width: 100%;
	margin: 5% auto; 
	padding: 0;
	display: block;
}

.product-cat h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: .5em;
}

.product-previews {
	width: 24%;
<<<<<<< HEAD
	margin-right: .5%;
=======
	margin: .5%;
>>>>>>> origin/master
	float: left;
}

.product-previews img {
	width: 100%;
}

.product-previews h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}

.product-previews a {
	text-decoration: none;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.socialize {
	list-style-type: none;
	margin-top: 10px;
}
.socialize li {
	display: inline;
}
.socialize li a {
	text-decoration: none;
	padding: 0px 5px;
}

ul {
	text-align:center;
	margin-bottom: 15px;
}
