* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #FFFFFF;
	color: #222;
	font-family: "Playfair Display", serif;
	font-size: 18px;
}
header {
	margin-top: 45px;
	margin-bottom: 65px;
}
nav {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
}
nav a {
	text-decoration: none;
	color: #E4287C;
	padding: 0px 3em;
	font-size: 13.5px;
	font-weight: 700;
}
div img {
	display: block;
}

div h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	color: #000000;
	font-weight: 600;
}

div p a {
	font-family: 'Playfair Display', serif;
	color: #E4287C;
}
.wrapper {
	max-width:1200px;
	margin:auto;
}
.wrapper>* {
	float:left;
	padding:1em;
	width:33.33%;
}
#email {
	margin-top: 70px;
	margin-bottom: 30px;
}
.clearfix:after, .wrapper:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
