* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #FFFFFF;
	color: #222;
	font-family: "Playfair Display", serif;
	font-size: 18px;
}

header {
	text-align:center;
	margin-top: 1em;
	margin-bottom: 2em;
}

nav {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	text-transform: uppercase;
	margin-top: 2em;
	margin-bottom: 1em;
	border-top:1px solid;
	border-bottom: 1px solid;
	line-height: 2em;
}
nav a {
	text-decoration: none;
	color: #E4287C;
	padding: 1px 2em;
	font-size: .85em;
	font-weight: 700;
}
div img {
	display: block;
}

div h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	color: #000000;
	font-weight: 600;
}

div p a {
	font-family: 'Playfair Display', serif;
	color: #E4287C;
}

.wrapper {
	max-width:1200px;
	margin:auto;
}

.wrapper>* {
	float:left;
	padding:1em;
	width:33.33%;
}

.full {
	display: block;
	margin: auto;
    width: 100%;
}

.clearfix:after, .wrapper:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.socialize {
	list-style-type: none;
	margin-top: 10px;
}
.socialize li {
	display: inline;
}
.socialize li a {
	text-decoration: none;
	padding: 0px 5px;
}

ul, li {
	text-align:center;
}
