* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #FFFFFF;
	color: #222;
	font-family: "Playfair Display", serif;
	font-size: 18px;
}
header {
	text-align:center;
	margin-top: 45px;
	margin-bottom: 65px;
}

nav {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	border-top:1px solid;
	border-bottom: 1px solid;
}
nav a {
	text-decoration: none;
	color: #E4287C;
	padding: 0px 3em;
	font-size: 13.5px;
	font-weight: 700;
}
div {
	width: 309px;
	display: inline-block;
	margin: 20px;
	}
	
div img {
	width:100%;
	display: block;
}

div h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	color: #000000;
	font-weight: 600;
}

div p a {
	font-family: 'Playfair Display', serif;
	color: #E4287C;
}
#email {
	margin-top: 70px;
	margin-bottom: 30px;
}
